[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.10"
djangorestframework = "==3.10.2"
djangorestframework-simplejwt = "==4.3.0"
gunicorn = "==19.9.0"
markdown = "==3.1.1"
psycopg2-binary = "==2.8.6"
pyjwt = "==1.7.1"
uwsgi = "==2.0.30"

[requires]
python_version = "3.9"
