*
	color #ebdbb2

.v-toolbar
	.v-toolbar__title
		a
			color #ebdbb2
			text-decoration none

	input
		color #ebdbb2 !important
		caret-color #fbf1c7

	.v-btn, .v-icon
		color #ebdbb2

	.v-input__slot
		&::before
			border-color #bdae93 !important

		&:hover
			&::before
				border-color #ebdbb2 !important

