.perktree
	.v-card
		padding 1rem
		height 42rem

		#perktree
			height 100%

			text
				fill #ebdbb2

	.node
		rect
			fill-opacity .9
			shape-rendering crispEdges
			cursor pointer
		text
			pointer-events none
			fill white

	.link
		fill none
		stroke #000
		stroke-opacity .5

