.perktree
	height 100%

	.layout, .flex
		height 100%

	.v-card
		height 100%
		padding 1rem

		#perktree
			height 100%

			text
				fill #ebdbb2

	.node
		rect
			fill-opacity .9
			shape-rendering crispEdges
			cursor pointer
		text
			pointer-events none
			fill white

	.link
		fill none
		stroke #000
		stroke-opacity .5

